body{
background-color: rgb(56, 231, 173);
}

.carta{
    background-color: violet;
    width: 200px;
    display: inline-block;
}
.carta img{
    width: 200px;
}
footer{
    background-color: rgb(236, 132, 132);
}