body{
    background-color: rgb(130, 136, 134);
}

div.cuadrado{
    background-color: rgb(187, 149, 223);
    width: 400px;
    height: 400px;
    border: 3px dotted rgb(240, 240, 240);
}

div.circulo{
    background-color: rgb(14, 13, 13);
    width: 200px;
    height: 200px;
    border: 10px solid white;
    border-radius: 50%;
    

}
div{ pa;

}