body{
    background-color: rgb(166, 194, 197);
    color: rgb(29, 26, 32);



    background-image: url(./images/terry-crews-white-chicks.gif);
    
    background-size: co;
    font-family: 'Abril Fatface', cursive;

}


h1{
    background-color: rgb(36, 38, 39);
    color: rgb(116, 132, 146);
    text-align: center;
    

    
}


footer{
    background-color: rgba(255, 255, 255, 0.562);
}