body{
    background-color: greenyellow;
}

/* Estilos cartas */
.carta{
    background-color: violet;
    width: 200px;
    display: inline-block;
}

/* Estilos imagen */
.carta img{
    width: 200px;
}

/* Estilos footer */
footer{
    background-color: gainsboro;
}