.banner{
    background-image: url(../imagenes/imagen\ 2.webp);
    background-position: center;
    height: 700px;

    display: flex;
    justify-content: center;
    align-items: start;
    padding-top: 100px;
    
}
.bannerinfo{
   background-color: rgba(255, 255, 255, 0.493);
    text-align: center;
    padding: 20px;
   
}
