.listadocartas{
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

/* Estilo cartas */
.carta {
    background-color: rgb(255, 255, 255);
    width: 300px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 10px 10px 16px rgba(0,0,0,0.2);
    transition: all 300ms ease-in-out;
}
.carta:hover {
    box-shadow: 0 8px 16px rgba(0,0,0,0.5);
    transform:  scale(1.02);
}

.carta .cartaInfo{
    padding: 10px;
}

/* Estilos imagen */
.carta img{
    width: 300px;
    height: 300px;
    object-fit: cover;
    background-color: rgb(36, 84, 243);
    border-radius: 10px 10px 10px 10%;

}

.carta.button{
    width: 100%;
    padding: 5px;
    margin-top: 20px;
    background-color: rgba(182, 29, 206, 0.449);
    cursor: pointer;
   
}
.carta.button:hover{
    background-color: rgb(255, 255, 255);
    text-decoration: underline;
}

