header div.header {
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
  align-items: center;
  
    
}

.img-header{
  display: flex;
  align-items: center;
  gap: 20px;
}

header img.imagenLogo {
  width: 50px;
}

header .navbar {
  display: flex;
  gap: 50px;
  font-weight: 100;
  
}

header img.imagenLogoHeader {
  width: 50px;
}

header i {
  font-size: 30px;

}

.navbar a:hover {
  color: blue;
  border-bottom: 2px blue;
  text-decoration: rgb(35, 140, 182);
}
.navbar a{
  transition: 500px;
}

.list-icons{
  display: flex;
  gap: 20px;
  padding-right: 20px;
}