body {
    background-color: rgb(0, 132, 255);
    color: rgb(255, 255, 255);
    background-image: url(https://media.tenor.com/fMCz1Bc_BTQAAAAM/nzxt-gif.gif)
}

h1 {
    color: aliceblue;
    background-color: rgba(240, 248, 255, 0.411);
} 

footer{background-color: rgba(240, 248, 255, 0.452);
    

}