
.ListadoCartas{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    margin: 20px;
}

.carta {
    background-color: rgb(128, 94, 0);
    width: 300px;
    text-align: center;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.carta div{
    background-color: rgb(255, 228, 196);
    padding: 12px;
    border-radius: 50px;
    
}

.carta img {
    width: 100%;
    object-fit: cover;
    padding: 5px;
    border-radius: 50px;
    
}

.carta button{
    width: 50%;
    padding: 5px;
    margin: 15px;
    background-color: var(--color-primario);
    border: 2px black solid;
    cursor: pointer;
}

.carta button:hover{
    background-color: yellowgreen;
}



