header{
background-color: blueviolet;
display: flex;
justify-content: space-between;
align-items: center;
background-image: url("../img/a-brain-riding-a-rocketship.jpg");
}

header img.imagenLogoHeader{
    width: 120px;
}
header .barra-navegacion{
    display: flex;
    gap: 20px;
    font-weight: 800;
}

.barra-navegacion a{
    transition: all 1s;
}

.barra-navegacion a:hover{
    color: aqua;
    border-bottom: 2px aqua double;
}

