/* Estilos cartas */
.carta{
    background-color: rgb(150, 96, 96);
    width: 200px;
    display: inline-block;
    margin: 70px;
    border-radius: 10px;
    box-shadow: 0 4px 8px black;
    transition: all 300ms ease-in-out;

}
.carta:hover{
    box-shadow: 0 8px 16px black;
    transform: scale(1.02);
}

.carta div{
    padding: 20px;
    border-radius: 10px;

}
/* Estilos imagen */
.carta img{
    width: 100%;
    height: 200px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;


}
.carta .info{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}
.carta .info h2{
    margin-top: 0px;

}
.carta .info p{
    margin-bottom: 0px;
}
.carta .button{
    width: 100%;
    padding: 10px 20px
    margin-top: 20px;
    background-color: antiquewhite;
    border: 2px rgb(88, 42, 42) solid;
    cursor: pointer;
    border: 50%;
    transition: background-color 500ms ease-in-out;

}


.carta button:hover{
    background-color: rgb(39, 28, 28);
    }
.listadoCartas{
    display: flex ;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    margin: 20px;
}