footer{
    background-color: rgb(185, 162, 132);
    color: brown;
    display: flex;
    justify-content: space-between;
    padding: 10px 50px;
    bottom: 0;
    align-items: center;
   
}