@import url(./header.css);
@import url(./cards.css);
@import url(./footer.css);
@import url(./banner.css);
;
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
h1{
    color: rgb(44, 40, 49);
    text-align: center;
    padding: 20px;
    }
    h2{
        text-align: center;
        color: rgb(10, 9, 7);
       

    }
body{
    background-color: rgb(114, 39, 39);
    font-family: 'Open Sans', sans-serif;
}

a{
    text-decoration: none;
    color: unset;
}

ul{
    list-style: none;
}