header{
    display: flex;
    justify-content: space-between;
    padding: 10px 50px;
    align-items: center;
    
}

header img{
    width: 100px;
    height: 100px;

}
.navbar a:hover{
    color: antiquewhite;
    padding-bottom: 10px;
    border-bottom: 2px black;
    text-decoration: none;


}
.navbar a{
    transition: all;

}
header.div{
    height: 100px;
    gap:270px;
    margin:10px;
    
}

header i{
    font-size: 20px;
}
