*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    h1{
    color: rgb(215, 118, 92);
    background-color: rgb(211, 211, 226);
    text-align: center;
    padding: 20px;
}
body{
    background-color: rgb(114, 39, 39);
    font-family: 'Open Sans', sans-serif;
}

a{
    text-decoration: none;
    color: unset;
}

ul{
    list-style: none;
}

section.container{
    background-color: rgb(186, 180, 171);
    margin: 50px;
    
    display: flex;

    justify-content: space-between;
    padding: 10px 50px;

  
    
}

.rectangulo{
    width: 200px;
    height: 200px;
    background-color: rgb(220, 67, 67);
    margin: 10px;
    font-size: 50px;
    font-weight:bold;
    justify-content: center;
}


.uno{
    background-color: brown;
}

header{
    display: flex;
    background-color: rgb(136, 121, 121);
    justify-content: space-between;
    padding: 100px;
    align-items: center;
}