/* Estilos cartas */
.carta{
    width: 200px;
    display: inline-block;
    margin: 10px;
    border-radius: 10px;
    background-color: rosybrown;
    text-align: center;
}

.carta div{
    padding: 10px;
    border-radius: 0px 0px 10px 10px;
}

/* Estilos imagen */
.carta img{
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px 10px 0px 0px;
}


.carta button{
    width: 100%;
    padding: 5px;
    margin-top: 20px;
    background-color: brown;
    border: 2px black solid;
    cursor: pointer;
    border-radius: 5px;
}

.carta:hover{
    background-color: red;
    text-decoration: underline;
    cursor: pointer;
}