/* Estilos cartas */
.carta{
    background-color: rgb(0, 0, 0);
    width: 200px;
    display: inline-block;
    margin: 10px;
    border-radius: 10px;
}
.carta div{
    padding: 10px;
    background-color: peru;
    border-radius: 0px 0px 10px 10px ;
}

/* Estilos imagen */
.carta img{
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px 10px 0px 0px;
}

.carta button{
    width: 100%;
    padding: 5px;
    margin-top: 20px;
    background-color: burlywood;
    cursor: pointer;
    border-radius: 5px;

}

.carta button:hover{
    background-color: rgb(202, 167, 122);

}