/* Estilos cartas */
.carta{
    background-color: rgb(238, 185, 238);
    width: 200px;
    display: inline-block;
    margin: 30px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.carta div{
padding: 20px;
background-color: aliceblue;
border-radius: 0px 0px 10px 10px;

}

/* Estilos imagen */
.carta img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px 10px 0px 0px;
}

.carta button {
width: 100%;
padding: 5px;
margin-top: 20px;
background-color: brown;
border: 2px black ;
cursor: pointer;

}

.carta button:hover {
    background-color: bisque
    text-decotion


}
