@import url(./header.css);
@import url(./cards.css);
*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}
body{
    background-color: antiquewhite;
    font-family: 'Montserrat', sans-serif;;
}
a{
    text-decoration: none;
    color: unset;
}
ul{
    list-style: none;
}