@import url(./header.css);
@import url(./cards.css);
@import url(./banner.css);
@import url(./footer.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --color-primario: #8C3E11;
    --color-secundario: #172601;
    --color-white: #FFFFFF;
}


body{
    background-color: var(--color-primario);
    font-family: 'Montserrat', sans-serif;
}

a{
    text-decoration: none;
    color: unset;
}

ul{
    list-style: none;
}


/* Estilos globales */
.titleInfo{
    background-color: rgba(240, 248, 255, 0.572);
    text-align: center;
    padding: 20px;
    margin: 20px 0px;
}
