header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

header img.imagenLogoHeader{
    width: 50px;
}

header .navbar{
    display: flex;
    gap: 50px;
    font-weight: 800;
}

.navbar a{
    transition: all 300ms; 
}

.navbar a:hover{
    color: blue;
    padding-bottom: 5px;
    border-bottom: 4px blue solid;
}

header i{
    font-size: 30px;
    padding: 10px;
}
