.banner{
    background-image: url("../img/image.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 500px;  
    display: flex;   
    justify-content: center;
    align-items: start;
    padding-top: 100px;
}

.bannerinfo{
    background-color: rgba(255, 255, 255, 0.587);
}
