
.carta{
    background-color: rgb(243, 188, 243);
    width: 140px;
    margin: 10px;
    border-radius: 10px;
    display: inline-block
}

.carta div{
    padding: 10px;
    border: 2px solid black;
}
.carta img{
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 10px 10px 0px 0px;
}
.carta button{
    width: 100px;
    background-color: antiquewhite;
    margin-top: 10px;
    padding: 2px;
    border: 2px black;
    cursor: pointer;
    border: 50%;
}
.carta button:hover{
    background-color: black;
    text-decoration: underline;

}