@import url(./header.css);
@import url(./cards.css);
@import url(./footer.css);
@import url(./banner.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: lightgreen;
    font-family: 'Comfortaa', cursive;
}
h1{
    text-align: center;
}
a{
    text-decoration: none;
    color: unset;
}
ul{
    list-style: none;
}