header{
    background-color: lightseagreen;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    bottom: 0;
}
.navbar{
    display: flex;
    gap: 5px;
}
.menu{
    display: none;
    padding-right: 50px;
}
header img.ImagenLogoHeader{
    width: 80px;
}
@media(max-width: 500px){
    body{
        background-color: lightgreen;
    }
    nav{
        display: none;
    }
    .menu{
        display: none;
    }
}