*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
h1{
    color: rgb(255, 255, 255);
    background-color: blue;
    text-align: center;
    margin: 10px;
    
}
section.container{
    background-color: aquamarine;
    margin: 50px;

    display: flex ;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
}
header{
    margin: 10px;
    background-color: aquamarine;
    display: flex;
    justify-content: space-between;
}


.rectangulo{
    width: 200px;
    height: 200px;
    font-size: 50px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
}
.uno{
    background-color: brown;
}
.dos{
    background-color: rgb(128, 66, 74);
}
.tres{
    background-color: yellow;
}