*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
.Boton {
    color: #000000;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-color: red;
    font-weight: 800;
}
body{
   display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}