body {
background-color: blueviolet;

}
div.cuadrado{
background-color: aqua;
width: 400px;
height: 400px;
padding: 12px;
margin: 15px;
border: 10px dotted blue;
box-sizing: border-box;
}


div.circulo{
background-color: chartreuse;
width: 300px;
height: 300px;
border: 10px solid yellowgreen;
border-radius: 100%;
margin: 20px;

}